@{
    ViewData["Title"] = "Home Page";
}
<h1>Write a review:</h1>
<form action="Create" method="post">
    <label for="revname">Reviewer Name:</label>
    <input type="text" id="fname" name="first_name"><br>

    <label for="restname">Restaurant Name:</label>
    <input type="text" id="lname" name="res_name"><br>

    <label for="comment">Review:</label>
    <input type="text" id="email" name="comment"><br>

       Stars: <select name = "star">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        </select>
        <input id="date" type="date" name = "date">
    <input type="submit" value="Submit" class="btn btn-success">

</form>
<div>



