<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="~/css/site.css"/>
    </head>
    <body>
        <br>
        <p>Random Word (attempt #@ViewBag.count)</p>
        <br>
        <h1 class="border">@ViewBag.rndWord</h1>
        <br>
        <form class="" action="" method="get">
          <button type="submit" name="btnGenerate">Generate</button>
        </form>
        <p>Fullness: Happiness: Meals: Energy:</p>
        <form action="">
            <button type ="submit" name = "feed">Feed</button>
        </form>
            <form action="">
            <button type ="submit" name = "feed">Play</button>
            </form>
                <form action="">
                <button type ="submit" name = "feed">Work</button>
                </form>
                    <form action="">
                    <button type ="submit" name = "feed">Sleep</button>
                    </form>
        </body>
</html>