<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects</title>
        
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
                <div class = "border">
            
            <a href="/">Home</a>
            <a href="contact">Contact</a>
        </div>
        <h1>Welcome to the project page!</h1>
        <p>Hey Guys!  Here are three projects I am working on currently</p>
        <img src="~/images/truck.jpg" alt="some_text">
        <p>I am working on a new truck project.  I found this grand old truck in the middle of nowhere and now I am going to fully restore it</p>
        <img src="~/images/roof.jpg" alt="some_text">
        <p>I was chillin on the roof the other day and Dr.Dre almost fell through the roof!  I really need to fix it soon before the storms come rollin in.</p>
        <img src="~/images/band.jpg" alt="some_text">
        <p>I have an album coming out so please check it out!  Thanks!</p>
    </body>
</html>