@{
    ViewData["Title"] = "Home Page";
}
<h1>You have logged in</h1>
<h2>MESSAGE BLOG</h2>
<div class = btn btn-success >
    <h1>Log In</h1>
<form action="message" method="post">
        <label for="message">Message By:</label>
    <input type="text" id="email" name="Email"><br>


        <input type="submit" value="Login" class="btn btn-success">
</form>

</div>