@{
    ViewData["Title"] = "Home Page";
}
<p><a href="/logout">Log Out</a>  <a href="/Dashboard">Dashboard</a></p>
<h3>Plan Your Activity</h3>

<form action="Create" method="post">

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-queen"></i></span>
    <input id="WedderOne" type="text" class="form-control" name="WedderOne" placeholder="Bride">
  </div>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-king"></i></span>
    <input id="WedderTwo" type="text" class="form-control" name="WedderTwo" placeholder="Groom">
  </div>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    <input id="Date" type="Date" class="form-control" name="Date" placeholder="Date">
  </div>

    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
    <input id="Address" type="text" class="form-control" name="Address" placeholder="Address">
  </div>

        <input type="submit" value="Create" class="btn btn-success">

</form>
<div>
    @{
        foreach(var error in @ViewBag.Errors)
        {

            if(@error.Errors.Count > 0)
            {

                <p>@error.Errors[0].ErrorMessage</p>
            }
        }
    }
</div>